<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#">Jacking Dealership</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/djangoapp">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/djangoapp/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/djangoapp/about"">About Us</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <div class="d-flex gap-5 justify-content-center align-items-center">
                        <span class="text-white fw-bold">{{user.username}}</span>
                        <a href="{% url 'djangoapp:logout' %}" class="btn btn-danger btn-sm" type="button">Logout</a>
                    </div>
                {% else %}
                    <div class="d-flex">
                        <form class="d-flex gap-2 me-2">
                            {% csrf_token %}
                            <div class="form-group d-flex">
                                <input class="form-control me-2" type="text" placeholder="username" aria-label="username">
                                <input class="form-control" type="password" placeholder="password" aria-label="password">
                            </div>
                            <button class="btn btn-success" type="submit">LogIn</button>
                        </form>
                    
                        <button class="btn btn-light">Log In</button>
                    </div>
                {% endif %}
            </div>
            </div>
        </nav>
    <!--Add a registration form here -->
        <main role="main" class="d-flex justify-content-center pt-3 ">
            <form class="border border-dark p-4 w-auto h-auto text-center bg-light" action="{% url 'djangoapp:registration' %}"  method="post">
                {% csrf_token %}
                
                <h1 class="text-center">Sign Up!</h1><br>
                <label for="username"><b>User Name</b></label>
                <br>
                <input type="text" placeholder="Enter User Name: " name="username" required>
                <br>
                <label for="fname"><b>First Name</b></label>
                <br>
                <input type="text" placeholder="Enter First Name: " name="fname" required>
                <br>
                <label for="lname"><b>Last Name</b></label>
                <br>
                <input type="text" placeholder="Enter Last Name: " name="lname" required>
                <br>
                <label for="pword"><b>Password</b></label>
                <br>
                <input type="password" placeholder="Enter Password: " name="pword" required>
                <br>
                <br>
                <button class="btn btn-warning btn-lg" type="submit">Sign Up</button>
            </form>
        </main>
    </body>
</html>